/.metadata/
/config.properties
/sheets.googleapis.com-python.json
/.project
/.pydevproject
/RemoteSystemsTempFiles
/client_secret.json
/prototyping/tom.properties
/prototyping/sheets.googleapis.com-python.json